* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sacramento", cursive;
}

main {
  max-width: 600px;
  margin: 20px auto;
}

main img {
  width: 100%;
}
